KB = 1024
MB = 1024**2
GB = 1024**3
TB = 1024**4

CONFIG = {
    # 存储rss出来的种子的文件夹，此文件夹应为bt客户端的监控文件夹，最好是绝对路径：
    "torrent_dir": "./watch",
    # 存储rss过的种子链接的文件，最好是绝对路径：
    "downloaded_urls": "./downloaded_urls.txt"
    # 如果需要r海豚，请填写以下信息：
    "dic": {
        # cookie，从浏览器中复制，只需要cookie中的PHPSESSID和session两个字段
        "cookies": {
            "PHPSESSID": "xxxxxxxxxxxxxxxx",
            "session"  : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        },
        # authkey和torrentpass：你可以从任意一个你的种子的下载链接里获得，长度均为32个字符
        "authkey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "torrent_pass": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        # 体积在这个区间内时自动使用令牌，样例：1.5GB-2GB，如果不想使用令牌请填一个非法的区间，比如(0,-1)
        # 注意，如果令牌用完，本脚本就不会下载种子
        "token_thresh": (1.5 * GB, 2 * GB)
    },
    # 如果需要r毒蛇，请填写以下信息：
    "snake": {
        # cookie，从浏览器中复制，只需要cookie中的session个字段
        "cookies": {
            "session"  : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        },
        # authkey和torrentpass：你可以从任意一个你的种子的下载链接里获得，长度均为32个字符
        "authkey": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "torrent_pass": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        # 体积在这个区间内时自动使用令牌，如果不想使用令牌请填一个非法的区间，比如(0,-1)
        # 注意，如果令牌用完，本脚本就不会下载种子
        "token_thresh": (0, -1),
    },
}
